---
import Layout from '../layouts/Layout.astro';
import Device from '../components/Device.astro';
---

<Layout title='Chat App'>
  <div class='flex items-center'>
    <Device />
    <main class='text-6xl'>Hello there</main>
  </div>
</Layout>
