---
import Layout from '../layouts/Layout.astro';
import Device from '../components/Device.astro';
import Hero from '../components/Hero.astro';
---

<Layout title='Chat App'>
  <main class='flex items-center gap-32'>
    <Device />
    <Hero />
  </main>
</Layout>
