---
import Circle from '../icons/Circle.astro';

interface Props {
  price: string;
  last?: boolean;
}

const { price, last } = Astro.props;
---

<div
  class=`bg-gradient-to-r to-light-violet from-light-magenta text-white p-3 rounded-2xl rounded-bl-md text-xs w-[240px] grid grid-cols-[max-content_1fr_max-content] gap-3 items-center ${last ? 'mb-4' : 'mb-3'}`
>
  <div class='cursor-pointer'>
    <Circle />
  </div>
  <slot />
  <span class='text-xl font-medium px-2'>${price}</span>
</div>
