---
import Header from './Header.astro';
import Chat from './Chat.astro';
import Notch from './Notch.astro';
---

<div
  class='w-[340px] xl:w-[370px] bg-light-grayish-violet h-[650px] xl:h-[742px] rounded-[32px] border-[16px] border-white overflow-hidden relative'
>
  <Notch />
  <Header />
  <Chat />
</div>
