<div class='w-[540px] flex flex-col gap-5'>
  <h1 class='text-5xl text-very-dark-desaturated-violet'>Simple booking</h1>
  <p class='text-dark-grayish-violet leading-normal'>
    Stay in touch with our dog walkers through the chat interface. This makes it easy to discuss
    arrangements and make bookings. Once the walk has been completed you can rate your walker and
    book again all through the chat.
  </p>
</div>
