---
import ArrowRight from '../icons/ArrowRight.astro';

interface Props {
  placeholder: string;
}

const { placeholder } = Astro.props;
---

<div class='absolute bottom-4 left-1/2 -translate-x-1/2 w-[290px] xl:w-[310px] h-11'>
  <input
    type='text'
    class='w-full h-full rounded-full placeholder:text-xs placeholder:text-grayish-blue relative outline-none pl-5 pr-14 text-sm'
    placeholder={placeholder}
  />
  <div
    class='bg-very-dark-desaturated-violet absolute right-2 p-[10px] rounded-full top-1/2 -translate-y-1/2 cursor-pointer'
  >
    <ArrowRight />
  </div>
</div>
