---
interface Props {
  last?: boolean;
  receiving?: boolean;
}

const { last, receiving } = Astro.props;
---

<div
  class=`px-3 py-2 rounded-xl text-[10px] xl:text-xs w-fit max-w-[200px] ${receiving ? 'self-start bg-very-light-violet text-moderate-violet shadow-none' : 'self-end bg-white text-desaturated-dark-violet shadow-sm'} ${last ? 'mb-2 xl:mb-4' : 'mb-2 xl:mb-3'}`
>
  <slot />
</div>
